	body{
		width:100%; 
		text-align:center; 

	}

	#main{
		margin: 0 auto -4em;
		text-align: center;
		width:800px;
		height: 800px;
		font-size: 36px;
		color: black;
		border: 1px red solid;
		border-radius: 50px;
	}

	#anitem{

		text-align: center;
		vertical-align: bottom;
		width:100px;
		height: 100px;
		font-size: 36px;
		color: black;
		border: 1px red solid;
		border-radius: 5px;
		display: inline-block;



	}

